.jumbotron {
  padding: 24rem 4rem;
  background-image: url("img/ahegao.jpg");
  font-family: "poppins", sans-serif;
}

#Services {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #364a64;
  min-height: 500;
  font-family: "poppins", sans-serif;
}

#About {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #01423b;
  min-height: 200;
  font-family: "poppins", sans-serif;
}

#Services .card {
  transition: all 0.4s;
}

#Services .card:hover {
  transform: scale(1.07);
}

#Contact {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #364a64;
  min-height: 200;
  font-family: "poppins", sans-serif;
}

#carousel {
  padding-left: 0%;
  padding-right: 0%;
  font-family: "poppins", sans-serif;
}

#carousel .c-item {
  height: 1000px;
}

#carousel .c-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#Footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  min-height: 200;
  background-color: #027a6e;
}

#slider {
  background-color: #01423b;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.slider-card {
  transition: all 0.4s;
}

.slider-card:hover {
  transform: scale(1.07);
}
